In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder as oe

In [3]:
# create a simple dataframe
df=pd.DataFrame({
    'color':['red','green','blue','red','blue']
    })

In [4]:
df.head()

   color
0    red
1  green
2   blue
3    red
4   blue

In [5]:
# create an instance of  onehotencoder
encoder=oe()

In [6]:
#perform fit and transform
enocded=encoder.fit_transform(df[['color']]).toarray()

In [7]:
import pandas as pd
encoder_df=pd.DataFrame(enocded,columns=encoder.get_feature_names_out())

In [8]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [9]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1  green         0.0          1.0        0.0
2   blue         1.0          0.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0

In [10]:
import seaborn as sns
tip_df=sns.load_dataset('tips')

In [11]:
df.head()

   color
0    red
1  green
2   blue
3    red
4   blue

In [12]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder=LabelEncoder()

In [13]:
lbl_encoder.fit_transform(df[['color']])

c:\Users\harsh\anaconda3\envs\py_env\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 1, 0, 2, 0])

In [14]:
lbl_encoder.transform([['red']])

c:\Users\harsh\anaconda3\envs\py_env\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [15]:
lbl_encoder.transform([['blue']])

c:\Users\harsh\anaconda3\envs\py_env\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [16]:
## ORdinal Encoding
from sklearn.preprocessing import OrdinalEncoder

In [17]:
# create a sample dataframe with an ordinal variable
df = pd.DataFrame({
    'size': ['small', 'medium', 'large', 'medium', 'small', 'large']
})

In [18]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [19]:
## create an instance of ORdinalEncoder and then fit_transform
encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [20]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [21]:
encoder.transform([['small']])

c:\Users\harsh\anaconda3\envs\py_env\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])