In [2]:
# all about loops
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [9]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [13]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [14]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [16]:
#strings
str="harshal chaudhari"

for i in str:
    print(i)

h
a
r
s
h
a
l

c
h
a
u
d
h
a
r
i

In [ ]:
#while loop
cnt=0

while cnt<=5:
    print(cnt)
    cnt+=1

0
1
2
3
4
5

In [ ]:
#loop control statements 
#break continue is we know
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [ ]:
## pass
## The pass statement is a null operation; it does nothing.

for i in range(5):
    if i==3:
        pass
    print(i)

In [ ]:
## Example- Prime numbers between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

In [ ]:
## Examples- Calculate the sum of first N natural numbers using a while and for loop

## while loop  

n=10   
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("Sum of first 10 natural number:",sum)



n=10   
sum=0
for i in range(11):
    sum=sum+i

print(sum)

In [ ]:
## Nested loopss
## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")